*{
	font-family: 'Montserrat', sans-serif;
}

body{
	margin: 0;
}

#video{ 
	position: absolute; 
	bottom: 0px; 
	right: 0px; 
	width: 100%; 
	height: auto; 
	z-index: -1000; 
	overflow: hidden; 
	margin-top: 10px;
}

.barra-completa.flex-container{
	flex-direction: row;
	width: 100%;
	display: inline-block;
}

.logo-blanco{
	width: 10%;
	height: 50%;
}

.listado-nav{
	display: inherit;
	list-style: none;
}

.lista a{
	text-decoration: none;
	padding: 10px;
	color: #fff;
}

#boton{
	background: transparent;
	border-radius: 10px;
	border-color: #fff;
	color: #fff;
	width: 100px;
	height: 30px;
	padding: 0;
}

.cuadro{
	background-color: #fff;
	width: 30%;
	height: 340px;
	padding: 20px;
	margin: 10px;
	position: relative;
	left: 850px;
}

.cuadro h1, h5{
	text-transform: uppercase;
	color: #352384;
}

.cuadro input{
	border-left: none;
	border-right: none;
	border-top: none;
	width: 80%;
}

.cuadro a{
	color: #728099;
}

.cuadro p{
	color: #728099;
	font-size: 10px;
}

#insert{
	border-radius: 10px;
	background-color: #FF00BF;
	border-color: #FF00BF;
	color: #fff;
	height: 40px;
}

.flex-container{
	display: flex;
}

.telefono{
	background:linear-gradient(#76278f, #2B1E66);
	height: 450px;
}

.telefono h3{
	text-transform: uppercase;
	color: #fff;
	margin-top: 10px;
} 

.telefono p{
	color: #fff;
}

#iphone{
	float: right;
	width: 30%;
	height: 90%;
	padding: 20px;
}

.texto-phone{
	margin: 140px;
	padding: 20px;
}

.amplify{
	background-color: #fff;
	height: 310px;
}
.video-youtube-uno{
	float: right;
	width: 50%;
	margin-left: 60px;
}

.texto-uno{
	padding: 20px;
	margin-right: 20px;
}

.texto-uno h1, h4{
	text-transform: uppercase;
}

.video-youtube-dos{
	float: left;
	margin-right: 20px;
	width: 50%;
}

.texto-dos{
	margin: 20px;
}

.june{
	background-color: #fff;
	height: 310px; 
}

.good{
	background-color: #fff;
	height: 320px;
}
.video-youtube-tres{
	float: right;
	margin-left: 30px;
	width: 50%;
}

.texto-tres{
	margin-left: 20px;
}

footer{
	background-color: #333447;
	color: #fff;
	margin: 0;
}

footer li, p{
	list-style: none;
	margin: 0;
}

.contenido-footer.flex-container{
	width: 200px;
	margin: 0;
	justify-content: space-between;
	flex-direction: row;
	display: inline-block;
}

.contenido-footer img{
	width: 150px;
}

.redes{
	width: 40px;
	height: 40px;
	background-color: #31455a;
	border-radius: 50%;
	border: 1px solid #FFF;
	line-height: 2.5;
	justify-content: center;
	align-items: center;
	position: relative;
	left: 550px;
	margin: 20px;
}

.fa-facebook-f:before, .fa-facebook:before {
    content: "\f09a";
    position: relative;
    left: 16px;
}

.fa-instagram:before {
    content: "\f16d";
    position: relative;
    left: 13px;
}

.fa-twitter:before {
    content: "\f099";
    position: relative;
    left: 13px;
}

footer p{
	padding: 10px;
	text-align: center;
}