*{
	font-family: 'Montserrat', sans-serif;
}

body{
	margin: 0;
}

#video{ 
	position: absolute; 
	bottom: 0px; 
	right: 0px; 
	width: 100%; 
	height: auto; 
	z-index: -1000; 
	overflow: hidden; 
}

.lista{
	list-style: none;
}

.barra a{
	text-decoration: none;
	color: #fff;
}